@inject ITravel.Models.LanguageService lang
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!-- end nav -->
<section class="inner-banner" style="background-image:url(@Url.Content("~/images/banner/sub-page.png"))">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="banner-content">
                    <h2>@lang.GetKey("booking")</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index", "Home")">@lang.GetKey("home")</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">@lang.GetKey("booking")</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end banner -->
<!-- start booking -->
<section class="section-spacing booking">
    <div class="container">
        <div class="row">
            <div class="booking-bg">
                <form class="row g-3">
                    <div class="col-sm-12">
                        <h2 class="form-hader"> @lang.GetKey("book_tour") </h2>
                    </div>
                    <div class="col-md-12">
                        <input type="text" class="form-control booking-from" id="inputAddress" placeholder="@lang.GetKey("input_name")">
                    </div>
                    <div class="col-md-12">
                        <input type="email" class="form-control" id="inputAddress2" placeholder="@lang.GetKey("enter_email")">
                    </div>
                    <div class="col-md-6">
                        <select id="country" class="choose-option form-select">
                            <option selected>Анталию</option>
                            <option>Италия</option>
                            <option>Мальдивы</option>
                            <option>Самарканд</option>
                            <option>Чехия</option>
                            <option>Ташкент</option>
                            <option>Тбилиси</option>
                            <option>Бухара</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group date">
                            <input type="text" data-provide="datepicker" class="form-control start-date" placeholder="@lang.GetKey("date")">
                        </div>
                    </div>
                    @*<div class="col-md-6">
                        <select id="date_to" class="choose-option form-select">
                            <option selected>Choose time</option>
                            <option>6:00 PM</option>
                            <option>7:00 PM</option>
                            <option>8:00 PM</option>
                        </select>
                    </div>*@
                    @*<div class="col-md-6">
                        <select id="guest" class="choose-option form-select">
                            <option selected>Guests</option>
                            <option>Guests 1</option>
                            <option>Guests 2</option>
                            <option>Guests 3</option>
                        </select>
                    </div>*@
                    @*<div class="col-md-12">
                        <p class="from-text">Add Extra</p>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Service per booking <span class="booking-price">$50.00</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck1">
                            <label class="form-check-label" for="gridCheck1"> Service per person </label>
                        </div>
                    </div>*@
                    @*<div class="col-md-6">
                        <p>
                            <span class="service-price">Adult: $50</span>
                            <span class="service-price">Youth: $55</span>
                            <span class="service-price">Children: $ 30</span>
                        </p>
                    </div>*@
                    <div class="col-12">
                        <button type="submit" class="booking-bt btn btn-primary">@lang.GetKey("booking_now")</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="faq">
                <div class="col-md-12">
                    <h2 class="faq-hedar">@lang.GetKey("faq")</h2>
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"> @lang.GetKey("faq1_header") </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div>
                                <p class="faq-text"> @lang.GetKey("faq1_text")</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"> @lang.GetKey("faq2_header") </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div>
                                <p class="faq-text"> @lang.GetKey("faq2_text")</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"> @lang.GetKey("faq3_header")</button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div>
                                <p class="faq-text"> @lang.GetKey("faq3_text")</p>
                            </div>
                        </div>
                    </div>
@*                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingfour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour"> What are your booking terms and conditions? </button>
                        </h2>
                        <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
                            <div>
                                <p class="faq-text"> Starting and ending hotels are listed on your travel voucher and in the Trip Details document. We use a variety of hotels en-route and so a complete list of hotels won't be provided until day 1 of your tour. If your family requires contact information, or in case of emergency, please have them phone 1-800-708- 7761. If our office is closed please refer to the emergency phone number that is found on the Trip Details document, this number can be reached 24 hours a day, 7 days a week.</p>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end booking -->